@import "tailwindcss";

:root {
  /* Primary Colors */
  --color-primary: #2a7de1;
  --color-primary-variant: #1c5db2;

  /* Secondary Colors */
  --color-secondary: #f4f6f8;
  --color-secondary-variant: #e1e5ea;

  /* Accent Colors */
  --color-accent-red: #f94f4f;
  --color-accent-green: #21cfa6;

  /* Neutral Colors */
  --color-white: #ffffff;
  --color-light-gray: #f9fafb;
  --color-medium-gray: #666666;
  --color-muted-gray: #999999;
  --color-dark-gray: #333333;

  /* Text Colors */
  --text-heading: var(--color-dark-gray);
  --text-body: var(--color-medium-gray);
  --text-muted: var(--color-muted-gray);
  --text-on-primary: var(--color-white);
  --text-on-secondary: var(--color-dark-gray);

  /* Background Colors */
  --bg-default: var(--color-white);
  --bg-secondary: var(--color-secondary);
  --bg-footer: var(--color-primary-variant);

  /* Border Colors */
  --border-light: var(--color-secondary-variant);
  --border-muted: var(--color-muted-gray);
}

@theme {
  --breakpoint-ssm: 400px;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent-red: var(--color-accent-red);
  --color-accent-green: var(--color-accent-green);
  --color-white: var(--color-white);
  --color-light-gray: var(--color-light-gray);
  --color-medium-gray: var(--color-medium-gray);
  --color-muted-gray: var(--color-muted-gray);
  --color-dark-gray: var(--color-dark-gray);
  --text-heading: var(--text-heading);
  --text-body: var(--text-body);
  --text-muted: var(--text-muted);
  --text-on-primary: var(--text-on-primary);
  --text-on-secondary: var(--text-on-secondary);
  --bg-default: var(--bg-default);
  --bg-secondary: var(--bg-secondary);
  --bg-footer: var(--bg-footer);
  --border-light: var(--border-light);
  --border-muted: var(--border-muted);
  --color-pending: #ffa500;
  --color-ordered: #008000;
  --color-cancelled: #ff0000;
  --color-delivered: #0000ff;

  --animate-fade: fadeIn 0.5s ease-in-out;
  --animate-fade-in-out: fadeInOut 2s ease-in forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

input::placeholder {
  @apply text-sm;
}

.click {
  transition: 0.1s;
}
.click:active {
  scale: 0.98;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.outlet {
  /* top: 100px; */
  /* position: fixed; */
  height: calc(100svh - 120px);
  /* overflow: auto; */
}

.animate-popup {
  animation: popup 0.4s ease-in both;
}

@keyframes hideToTop {
  0% {
    height: 13rem;
  }

  100% {
    height: 0;
  }
}

@keyframes showToBottom {
  100% {
    height: 13rem;
  }

  0% {
    height: 0;
  }
}

@keyframes popup {
  0% {
    opacity: 0.3;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media (max-width: 400px) {
  .show {
    animation: showToBottom 0.4s forwards;
  }

  .hide {
    animation: hideToTop 0.2s forwards;
  }
}

.pending {
  color: hsl(39, 100%, 50%);
  background-color: rgba(255, 166, 0, 0.1);
}
.ordered {
  color: #008000;
  background-color: rgba(0, 128, 0, 0.05);
}
.cancelled {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.05);
}

.delivered {
  color: #0000ff;
  background-color: rgba(0, 0, 255, 0.05);
}
